<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.renatodias.pereirofc">

    <application
        android:name=".application.CustomApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/pereirofc"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/pereirofc"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".splash.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.MainActivity"
            android:screenOrientation="portrait"
            android:noHistory = "true" />

        <activity
            android:name=".activitys.TimesActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activitys.CadastrarJogadorActivity"
            android:screenOrientation="portrait"/>


        <application android:name=".JogadorAdapter" />


    </application>

</manifest>